.header {
  display: flex;
  width: 100%;

  justify-items: center;

  position: fixed;
  top: 0;

  background-color: white;
  padding: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header > nav {
  margin-left: auto;
}

.header > nav > ul {
  display: flex;
  gap: 20px;
}

.header > h2 {
  font-size: larger;
}
