.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #282c34;
  color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header > nav {
  margin-left: auto;
}

.header > nav > ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-bottom: 0;
}

.header > nav > ul > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header > nav > ul > a:hover {
  color: #61dafb;
}

.header > h2 {
  font-size: 24px;
  margin: 0;
}
